.NavItem {
  display: inline-block;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0px;
  padding-left: 0px;
}

.NavItem a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  color: #fefefe;
}

.NavItem a:hover {
  border-top: 5px solid #fefefe;
  cursor: pointer;
}

.NavItem a:visited {
  color: #fefefe;
}
